/runs/
/train-data/
/.idea/
/__pycache__/
/yolov5s.pt
/mmod_human_face_detector.dat
/shape_predictor_68_face_landmarks.dat
/Nanodet-openvino/convert_for_two_stage/day_man_001_10_1.mp4
/Nanodet-openvino/convert_for_two_stage/day_man_001_20_2.mp4
/Nanodet-openvino/convert_for_two_stage/night_woman_005_31_4.mp4
/Nanodet-openvino/convert_for_two_stage/open_model_zoo/