
$default_font_family: 'Montreal', sans-serif;


$light_yellow: #F4EBA7;
$yellow: #F9C62C;

$pink_message: #F481DA;
$light_blue_message: #5FDBFD;
$blue_green_message: #00E3B5;
$grass_green_message: #51D656;
$purple_message: #845BEA;

$lg_window_size: 1000px;
$md_window_size: 640px;